@import "./App.scss";

.covid-stats {
  text-align: center;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 1.5em 0;

  thead {
  th {
    font-weight: 300;
    padding-bottom: 1em;
    &:nth-child(1) {
      visibility: hidden;
    }
  }
  
  }

  tbody {
    td {
      border-bottom: 1px solid #d8d7d7;
      padding: 0.5em 0;

      &:nth-child(1) {
        text-align: left;
        font-weight: 300;
      }

      &.safe {
        color: $safe-color;
      }
      &.warning {
        color: $warning-color;
      }
    }
  }
}