.full-regions {
  display: flex;
  justify-content: space-between;

  .call-to-action {
    display: flex;
    align-items: center;
    width: 100%;
    // Height equired to be fixed so table rows align
    height: 40vh; 
    img {
      width: 50%;
      margin: 0 1em;
    }
    h2 {
      font-size: 5vh;
    }
  }

  .safe-regions, .warning-regions {
    padding: 0 1em;
  }
  .safe-regions {
    border-right: 1px solid #d8d7d7;
  }
  .warning-regions {
    h2 {
      text-align: right;
    }
  }
}